node_modules/
**/node_modules/
**/mongodb-binaries/
.DS_Store
**/.DS_Store
*.zip
.cache/

# stuff outside the submission that lives in this working tree
chemistry report/
task3-deliverables/
task3-deliverables.zip
